/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container-team{
    /* background-color: #e0eaef; */
      background: linear-gradient(90deg, rgb(242, 245, 245) 0%, rgb(240, 242, 243) 100%);
    
}
.main-div{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    /* background-color: #e0eaef; */
    /* background: linear-gradient(90deg, rgb(252, 251, 251) 0%, rgb(241, 243, 244) 100%); */
  }
  
  .aboutteam-title{
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      color: black;
  }
  
    .people-img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  

  
  .cards-ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    /* background-color: #e0eaef; */
    /* background: linear-gradient(90deg, rgb(237, 243, 244) 0%, rgb(240, 242, 244) 100%); */
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    /* background: linear-gradient(to bottom left, #44020c 40%, #d6adad 100%); */
    /* background: linear-gradient(90deg, rgb(151, 182, 190) 0%, rgb(170, 183, 190) 100%); */
    background: linear-gradient(380deg, rgb(100, 100, 102) 0%, rgb(170, 183, 190) 100%);
  }
  
  .card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #ffffff;
    font-size: 0.895rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  /* .made_by{
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
  } */