.container-faq .faq-title-top {
  /* background-color: #000; */
  color: #fff;
  text-align: center;
}

details {
  background-color: #303030;
  color: #fff;
  font-size: 1.5rem;
  width: 1000px;
  padding-bottom: 5px;
  padding-top: 5px;
}
@media screen and (max-width: 960px) {
  details {
    /* position: relative; */
    width: auto;
  }
}

summary {
  /* padding: .5em 1.3rem; */
  padding: 0.5em 1.5rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
  gap: 10px;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "\002B";
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

details[open] summary:after {
  content: "\00D7";
}

details[open] div {
  padding: 0.5em 1em;
  background-color: grey;
}
