
.footer-container{
  padding: 40px 0;
  display: flex;
  justify-content: space-evenly;
  /* background-color: #19302E; */
  /* background-color:#303030; */
  background: #444a53;
/* background: url(/public/images/footer-bd-3.jpg); */
}

.main-footer ul {
  list-style: none;
}

.main-footer, .footer-tit {
  font-size: 20px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: center;
}



.main-footer, .footer-ul, .footer-li a {
  color: #ffffffcc;
  text-decoration:none;
}

footer {
  /* background-color: #19302E; */
  border-top: 1px solid #b4b8b5;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
/* background: url(/public/images/footer-bd-3.jpg); */
/* background-color:	#282828; */
background: #444a53;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}



.contact-details {
  margin-top: 20px;
  text-align: center;
}
.footer-image-logo{
  width: 150px;
}
.contact-details, .footer-li {
  list-style: none;
  margin: 10px 0;
}

.contact-details, .footer-li a {
  text-decoration:none;
  color: #f1f1f1;
}

.contact-details .fa {
  color: #f1f1f1;
  margin-right: 10px;
}

.sociallogos{
  padding:20px 0;
}

.sociallogos .logobox a{
  padding:0 10px;
  text-decoration:none;
  color:#ffffff;
  font-size:22px;
}

.com , .footer-ul, .footer-li{
  padding:5px 0;
}

@media only screen and (max-width: 749px) {
   .footer-container{
    padding:20px 0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
   
  }
 
}

@media (max-width: 480px) {
 .footer-container  {
    grid-template-columns: 1fr;
  }
  .sociallogos{
    padding:20px 0;
    text-align: center;
  }
  .com{
    padding:20px 0;
    text-align: center;
  } 
 .footer-img{
  display: block;
  margin-left: 150px;
  margin-right: auto;
width: 90px;
}
}


/* background: url(/public/images/footer-bd.jpg); */