header {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;

  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
.weather-title {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  margin-bottom: 20px;
}

h4 {
  color: #fff;
  margin-bottom: 10px;
}
.planning {
  color: #fff;
  margin-bottom: 15px;
  padding: 15px;
}
.planning2 {
  color: #fff;
  margin-bottom: 15px;
  padding: 15px;
}
table {
  width: 80%;
  table-layout: fixed;
  border-collapse: collapse;
}
.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
  width: 80%;
  display: flex;
  justify-content: center;
}
.tbl-content {
  height: 165px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 80%;
  display: flex;
  justify-content: center;
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* demo styles */


.weather-container {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);

}
.weather-sec {
  margin: 50px;
  overflow-x: auto;

}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
